@model CRACKED.Dtos.ProductDto

@{
    ViewBag.Title = "EditarProducto";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-@ViewBag.MessageType" role="alert">
        @ViewBag.Message
    </div>}
<div class="container-fluid d-flex justify-content-center ">
    <div class="form-group p-lg-4 bg rounded shadow" style="max-width: 800px; width: 100%;">


        <h2 style="color:saddlebrown;  font-family: cursive;  font-weight:bold;">
            Datos Producto
        </h2>
        <form asp-action="Editar" asp-controller="Admin" method="post">
          
                <div class="mb-3">
                    <label for="InputNombreProduc" class="form-label"><h8 style="color:black; ">Nombre</h8> </label>
                    <input type="text" id="InputNombreProduc" name="nombre" class="form-control" placeholder="Nombre Producto" value="@Model.Nombre">
                </div>
                <div class="mb-3">
                    <label for="selectTipo" class="form-label">Tipo</label>
                    <select id="selectTipo" class="form-select" name="IdTipoProducto" aria-label="Default select example">
                        <option selected>Tipo de producto</option>
                        <option value="2">Cookiecake</option>
                        <option value="1">Galleta</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="InputCantidad" class="form-label"><h8 style="color:black; ">Cantidad</h8> </label>
                    <input type="text" id="InputCantidad" class="form-control" name="Stock" placeholder="Stock para ese producto" value="@Model.Stock">
                </div>
                <div class="mb-3">
                    <label for="InputPrecio" class="form-label"><h8 style="color:black; ">Precio</h8> </label>
                    <input type="text" id="InputPrecio" class="form-control" name="Precio" placeholder="$Valor unitario" value="@Model.Precio">
                </div>


            

                <div class="col-4 mb-3">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </form>
    </div>
</div>

<style>
    .form-group {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .form-label {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
    }

    .form-control {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .colored-container {
        background-color: whitesmoke; /* Cambia el color al que prefieras */
        padding: 50px; /* Agrega un poco de relleno */

        opacity: 0.8;
    }

    .form-control:disabled {
        background-color: #f3d8bf;
        opacity: 0.8;
    }


    .bg {
        background-color: floralwhite;
    }

    .alert {
        background-color: #efcbab;
        border-color: saddlebrown;
    }

    .small-alert {
        padding: 4px; /* Reduce el espaciado general */
        font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    }

    .small-alert-text {
        padding-left: 6px; /* Espacio entre el ícono y el texto */
    }

    .btn-primary {
        padding: 10px 30px;
        font-size: 16px;
        background-color: saddlebrown;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .form-control, .form-select {
        background-color: #efcfb2;
    }

    .form-label {
        font-weight: bold;
    }

    .alert {
        background-color: #efcbab;
        border-color: saddlebrown;
    }
</style>


