@model CRACKED.Dtos.UserDto

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h1 style="color: saddlebrown; font-family: cursive; text-align: center;">Nuestras Galletas</h1>
    <hr />

    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
        </div>
    </div>
   
    @*<div class="row justify-content-around">
        <div class="col-4">

            <img src="~/Models/image/image (1).png" width="380" height="360" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Galletas" class="btn btn-primary" />
                </div>
            </div>

        </div>
        <div class="col-4">
            <img src="~/Models/image/image (2).png" width="380" height="360" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Cookiecakes" class="btn btn-primary" />
                </div>
            </div>
        </div>*@
</div>





}

<div>
    @Html.ActionLink("Volver a la lista", "Index", "Home")
</div>
<script>
    // Script para toggle de visibilidad de la contraseña
    const togglePassword = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('txtContraseña');

    togglePassword.addEventListener('click', function () {
        const type = passwordInput.type === 'password' ? 'text' : 'password';
        passwordInput.type = type;
        togglePassword.innerHTML = type === 'password' ? '<i class="bi bi-eye-slash-fill" style="color:saddlebrown;"></i>' : '<i class="bi bi-eye-fill"  style="color:saddlebrown;"></i>' ;
    });

    // Script para toggle de visibilidad de la confirmación de contraseña
    const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
    const confirmPasswordInput = document.getElementById('txtConfirmContraseña');

    toggleConfirmPassword.addEventListener('click', function () {
        const type = confirmPasswordInput.type === 'password' ? 'text' : 'password';
        confirmPasswordInput.type = type;
        toggleConfirmPassword.innerHTML = type === 'password' ? '<i class="bi bi-eye-slash-fill" style="color:saddlebrown;"></i>' : '<i class="bi bi-eye-fill" style="color:saddlebrown;"></i>';
    });
</script>
<style>
    .btn-primary {
        padding: 10px 30px;
        font-size: 16px;
        background-color: saddlebrown;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .form-group {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
</style>
