@{
    ViewBag.Title = "Home Page";
}
<style>
    
</style>
<div class="container-fluid">
    <div class="image-container">
        <img src="~/Content/Imagen/Sin título.jpg" class="full-width-image" />
        <div class="button-container">
            <button class="btn btn-primary">Ordena</button>
        </div>
    </div>
</div>

<!-- Agregar el siguiente CSS -->
<style>
    .full-width-image {
        width: 100%; /* La imagen ocupará todo el ancho del contenedor */
        height: auto; /* Mantiene la altura proporcional original */
        object-fit: cover; /* Ajusta la imagen sin deformarla */
        opacity:0.8;
    }

    .image-container {
        position: relative; /* Necesario para posicionar el botón dentro de la imagen */
        width: 100%; /* El contenedor tiene el mismo ancho que la pantalla */
        overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del contenedor */
    }

    .button-container {
        position: absolute;
        bottom: 10px; /* Coloca el botón 10px por encima de la parte inferior de la imagen */
        left: 50%; /* Centra el botón horizontalmente */
        transform: translateX(-50%); /* Asegura que el botón esté completamente centrado */
    }

    .btn-primary {
        padding: 20px 50px;
        font-size: 16px;
        background-color: #efcbab;
        color: saddlebrown;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #efcbab;
        }

    
</style>
