
@{
    ViewBag.Title = "DetallesPedidos";
    Layout = "~/Views/Shared/_LayoutDomiciliario.cshtml";
}

<div class="container-fluid d-flex justify-content-center ">
    <div class="form-group p-lg-4 bg rounded shadow" style="max-width: 800px; width: 100%;">


        <h2 style="color:saddlebrown;  font-family: cursive;  font-weight:bold;">
            Pedido 11
        </h2>
        <fieldset disabled>
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="InputNombreUsuario" class="form-label"><h8 style="color:black; ">Nombre</h8> </label>
                        <input type="text" id="InputNombreProduc" class="form-control" value="Juan">
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="InputNombreProduc" class="form-label"><h8 style="color:black; ">Departamento</h8> </label>
                        <input type="text" id="InputNombreProduc" class="form-control" value="cundinamarca">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="InputNombreUsuario" class="form-label"><h8 style="color:black; ">Cuidad</h8> </label>
                        <input type="text" id="InputNombreProduc" class="form-control" value="facatativa">
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="InputNombreProduc" class="form-label"><h8 style="color:black; ">Direccion</h8> </label>
                        <input type="text" id="InputNombreProduc" class="form-control" value="cll 6 b sur #7-98">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="InputNombreUsuario" class="form-label"><h8 style="color:black; ">Contacto</h8> </label>
                        <input type="text" id="InputNombreProduc" class="form-control" value="	312251441">
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="InputNombreProduc" class="form-label"><h8 style="color:black; ">Correo</h8> </label>
                        <input type="text" id="InputNombreProduc" class="form-control" value="alga@gmail">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="InputNombreUsuario" class="form-label"><h8 style="color:black; ">Fecha de entrega</h8> </label>
                        <input type="text" id="InputNombreProduc" class="form-control" value="aca va la fecha de entrega">
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="InputNombreProduc" class="form-label"><h8 style="color:black; ">Total a pagar</h8> </label>
                        <input type="text" id="InputNombreProduc" class="form-control" value="aca va el nombre">
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="mb-3">
                    <label for="selectTipo" class="form-label">Estado</label>
                    <select id="selectTipo" class="form-select" aria-label="Default select example">
                        <option selected>Estado de entrega</option>
                        <option value="1">Pendiente</option>
                        <option value="2">Entregado</option>
                        <option value="3">En proceso</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="selectTipo" class="form-label">Domiciliario</label>
                    <select id="selectTipo" class="form-select" aria-label="Default select example">
                        <option selected>Metodo de pago</option>
                        <option value="1">Nequi</option>
                        <option value="2">Daviplata</option>
                        <option value="2">Efectivo</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row align-items-start">
            <div class="col">
                <button class="btn btn-primary" type="submit">Registrar pago</button>
            </div>
            <div class="col">
                <a href="@Url.Action("ProductosPedidos", "Domiciliario")" class="btn btn-primary">
                    <i class="bi bi-bag-heart-fill"></i> Productos en pedido
                </a>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Cancelar entregar</button>
            </div>
        </div>
    </div>
</div>


<style>
    .form-group {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .form-label {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
    }

    .form-control {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .colored-container {
        background-color: whitesmoke; /* Cambia el color al que prefieras */
        padding: 50px; /* Agrega un poco de relleno */

        opacity: 0.8;
    }

    .form-control:disabled {
        background-color: #f3d8bf;
        opacity: 0.8;
    }


    .bg {
        background-color: floralwhite;
    }

    .alert {
        background-color: #efcbab;
        border-color: saddlebrown;
    }

    .small-alert {
        padding: 4px; /* Reduce el espaciado general */
        font-size: 0.875rem; /* Tamaño de fuente más pequeño */
    }

    .small-alert-text {
        padding-left: 6px; /* Espacio entre el ícono y el texto */
    }

    .btn-primary {
        padding: 10px 30px;
        font-size: 16px;
        background-color: saddlebrown;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .form-control, .form-select {
        background-color: #efcfb2;
    }

    .form-label {
        font-weight: bold;
    }

    .alert {
        background-color: #efcbab;
        border-color: saddlebrown;
    }
</style>

